<footer id="footer">
	<div class="container">
		<div class="row">
			<section class="col-4 col-md-6 col-sm-12">
				<h3>Mail</h3>
				<ul class="alt">
					<li>
						<a href="mailto:username@domain.ext" target="_blank">username@domain.ext</a>
					</li>
				</ul>
			</section>
			<section class="col-4 col-md-6 col-sm-12">
				<h3>Address</h3>
				<ul class="alt">
					<li>
						Earth
					</li>
				</ul>
			</section>
			<section class="col-4 col-md-12 col-sm-12">
				<h3>Social</h3>
				<ul class="icons">
					<li><a href="#" class="icon rounded fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="#" class="icon rounded fa-facebook"><span class="label">Facebook</span></a></li>
					<li><a href="#" class="icon rounded fa-pinterest"><span class="label">Pinterest</span></a></li>
					<li><a href="#" class="icon rounded fa-google-plus"><span class="label">Google+</span></a></li>
					<li><a href="#" class="icon rounded fa-linkedin"><span class="label">LinkedIn</span></a></li>
				</ul>
			</section>
		</div>
		<ul class="copyright">
			<li><a href="">{{ .Site.Title }}</a> &copy; </li>
		</ul>
	</div>
</footer>
