<header class="bg-primary">
	<div class="header-content">
		<div class="header-content-inner">
			<h1>Create Beautiful Esports Stories</h1>
			<p>Share your team's struggles and Triumphs</p>
			<div class="col-lg-8 col-lg-offset-2">
				Coming Soon! The First 50 People to Signup get a Lifetime Premium Membership Upgrade for Free! Please Support our new Esports Career with a Join.
			</div>
			<div class="search-form-wrap">
				<form id="signup" action="#" method="POST" accept-charset="UTF-8" class="search-form">
					<div class="row col-lg-6 col-lg-offset-3">
						<div class="col-lg-8">
							<input id="email" name="email" type="text" placeholder="Email" class="search-form-input" />
						</div>
						<div class="col-lg-4 btn-signup-wrap">
							<button class="btn btn-signup" href="#" type="submit"> Join
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
</header>
