<div class="portfolio-modal modal fade" id="requestAnAccount" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Let's get you setup</h2>
                        <hr class="star-primary">
                        <div class="search-form-wrap">
                            <form id="getReplays" action="#" method="POST" accept-charset="UTF-8" class="search-form">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">
                                        <input id="firstName" name="firstName" type="text" placeholder="First Name" class="search-form-input" />
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <input id="lastName" name="lastName" type="text" placeholder="Last Name" class="search-form-input" />
                                    </div>
                                </div>
                                <input id="email" name="email" type="text" placeholder="Email" class="search-form-input" />
                                <p style="padding:20px;">Enter up to 10 summoners</p>
                                <div class="row">
                                    <div class="col-lg-5 col-md-5 col-sm-5">
                                        <input id="summonerName" name="summonerName" type="text" placeholder="Summoner Name" class="search-form-input" />
                                    </div>
                                    <div class="col-lg-5 col-md-5 col-sm-5">
                                        <input id="region" name="region" type="text" placeholder="Region" class="search-form-input" />
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-2">
                                        <a id="addSummoner" class="follow" href="#"><i class="fa fa-plus"></i></a>
                                    </div>
                                </div>
                            </form>
                            <a class="follow submitGetReplays" href="#">Start saving my replays</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
