<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <ul class="nav navbar-nav page-scroll" href="#page-top">
                <li>
                    <a class="navbar-brand" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
                </li>
                <li>
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle menu</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </li>
            </ul>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                {{ range .Site.Params.menu }}
                <li>
                    <a class="page-scroll" href="{{ .link | absURL }}">{{ .label }}</a>
                </li>
                {{ end }}
            </ul>
        </div>
    </div>
</nav>
