<aside id="profile">
  <div class="inner profile-inner">
    <div class="base-info profile-block">
      <h2 id="name">Never Miss A Moment!</h1>
      <br>
      <p style="font-size:1.25em;padding-left:15px;">
        Track all of your replays
        <br>
        <br>
        Automatically tag kills and clutch plays
        <br>
        <br>
        Spectate them whenever you want
      </p>
      <br>
      <br>
      <div class="search-form-wrap">
        <form id="getReplays" action="#" method="POST" accept-charset="UTF-8" class="search-form">
            <input id="summonerName" name="summonerName" type="text" placeholder="Summoner Name" class="search-form-input" />
            <input id="region" name="region" type="text" placeholder="Region" class="search-form-input" />
            <input id="email" name="email" type="text" placeholder="Email" class="search-form-input" />
        </form>
        <a id="follow" class="submitGetReplays" href="#">Get my Replays</a>
      </div>
    </div>
    <div class="article-info profile-block">
      <div class="article-info-block">
        {{ len (where .Site.Pages "Type" "post") }}
        <span>{{with .Site.Data.l10n.profile.posts}}{{.}}{{end}}</span>
      </div>
      <div class="article-info-block">
        {{ len .Site.Taxonomies.tags }}
        <span>
            {{with .Site.Data.l10n.profile.tags}}{{.}}{{end}}
        </span>
      </div>
    </div>
    <div class="contact-info profile-block">
      <table class="contact-list">
        <tr>
          {{ partial "social" . }}
          <td><a href="{{ .RSSLink }}" target="_blank" title="RSS"><i class="fa fa-rss"></i></a></td>
        </tr>
      </table>
    </div>
  </div>
</aside>
